<div class="rm-empty-state">
  <div class="rm-empty-state__icon-wrap" aria-hidden="true">
    <rm-icon [name]="icon()" [size]="28" class="rm-empty-state__icon"></rm-icon>
  </div>
  <p class="rm-empty-state__title">{{ title() }}</p>
  @if (description()) {
    <p class="rm-empty-state__desc">{{ description() }}</p>
  }
  @if (actionLabel()) {
    <rm-button
      [variant]="actionVariant()"
      size="sm"
      [icon]="actionIcon()"
      (clicked)="action.emit()"
    >
      {{ actionLabel() }}
    </rm-button>
  }
  <ng-content></ng-content>
</div>
