<rm-modal
  [isOpen]="!!request()"
  [title]="request()?.title ?? ''"
  maxWidth="420px"
  dialogRole="alertdialog"
  (closed)="confirmService.answer(false)"
>
  <p class="rm-confirm__message">{{ request()?.message }}</p>

  <div modal-footer class="rm-confirm__actions">
    <rm-button variant="subtle" (clicked)="confirmService.answer(false)">
      {{ request()?.cancelLabel }}
    </rm-button>
    <rm-button [variant]="request()?.danger ? 'danger' : 'primary'" (clicked)="confirmService.answer(true)">
      {{ request()?.confirmLabel }}
    </rm-button>
  </div>
</rm-modal>
