<footer class="rm-public-footer">
  <div class="rm-public-footer__inner">
    <div class="rm-public-footer__brand">
      <div class="rm-public-logo-mark small">
        <img src="assets/favicon-plate-64.png" alt="" width="24" height="24" />
      </div>
      <span>RemindMe</span>
    </div>

    <div class="rm-public-footer__links">
      <a routerLink="/privacidade" class="rm-public-footer__link">{{ i18n.t('nav.privacy') }}</a>
      <a routerLink="/termos" class="rm-public-footer__link">{{ i18n.t('nav.terms') }}</a>
      <a routerLink="/planos" class="rm-public-footer__link">{{ i18n.t('home.nav.plans') }}</a>
    </div>

    <p class="rm-public-footer__rights">&copy; 2026 RemindMe &mdash; {{ i18n.t('home.footer.rights') }}</p>
  </div>
</footer>
