.rm-demo-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

@media (max-width: 560px) {
  .rm-demo-header rm-button {
    display: block;
    width: 100%;
  }
}
